<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
<div class="jumbotron vertical-center">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4 container">
        <div id="config" class="well">
            <label for="points_per_day">Points per day:</label>
            <input type="text" name="points_per_day" class="form-control"/>
            <label for="week_days">Week days:</label>
            <input type="text" name="week_days" class="form-control"/>
        </div>
        <div id="classes">
            <div class="class well">
                <label for="code">Code:</label>
                <input type="text" name="code" class="form-control"/>
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control"/>
                <label for="points">Points:</label>
                <input type="text" name="points" class="form-control"/>
                <label for="teacher">Teacher:</label>
                <input type="text" name="teacher" class="form-control"/>
            </div>
        </div>
        <div>
            <button id="more-classes" class="btn btn-default">Plus</button>
            <button id="generate-grid" class="btn btn-default">Generate</button>
        </div>
    </div>
    <div id="grids" class="col-sm-4">
    </div>
    <div class="col-sm-2">
    </div>
</div>
</body>
</html>